/* PHASE 6: Sidebar */
.profile-picture {
  position: relative;
  margin-top: -120px;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

.profile-info {
  margin: 20px 0;
}


.profile-info h1 {
  font-weight: bold;
  font-size: 24px;
}

.profile-info p {
  margin: 20px 0;
}

.profile-nav {
  margin: 20px 0;
}

.profile-nav li {
  padding: 5px;
  font-weight: bold;
  display: block;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.profile-nav li:hover {
  background-color: #eee;
}

.profile-nav li:last-child {
  border-bottom: 1px solid #ccc;
}
